/* Définition des polices personnalisées */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: fontawesome;
    src: url('fonts/fontawesome-webfont.eot');
    src: url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Définition des styles principaux */

.container
{
    font-family: Roboto, Arial, sans-serif;
    color: #666;
    font-size: 0.9em;
    line-height: 1.8;
    max-width: 1600px;
    justify-content: center;
    margin: auto;
    white-space: normal;
}

.main
{
    width: 100%;
}



/* --- Menu principal --- */
.main-header
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    border-bottom: solid #ebebeb 1px;   
}

.main-title
{
    position: absolute;
    display: none;
}

.menu
{
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out;
    visibility: hidden;
}

.menu li
{
    border-bottom: 1px solid #eee;
}

.menu li a
{
    color: #666;
    font-size: 1em;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    padding: 5px 40px;
}

.menu li a:hover
{
    color: #000;
}
    
.menu-checkbox:checked ~ .menu
{
    margin: 0;
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox
{
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.menu-toggle::after
{
    font-family: fontawesome;
    content: '\f0c9';
    font-size: 1.6em;
}

.menu-checkbox:checked + .menu-toggle::after
{
    content: '\f00d';
}

.menu-checkbox:focus + .menu-toggle
{
    color: #5CADD2;
}

.nav-wrapper
{
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: auto;
    position: relative;
    padding: 15px 0 0 0;
}


@media screen and (min-width: 900px)
{
    .logo
    {
        margin-left: 10%;
        padding: 0;
    }
    .nav-wrapper
    {
        padding: 0;
        height: 100px;
        justify-content: space-between;
    }
    .menu
    {
        flex-basis: auto;
        max-height: 1000px;
        opacity: 1;
        visibility: visible;
        margin-right: 10%;
        padding: 0;
    }

    .menu-toggle,
    .menu-checkbox
    {
        display: none;
    }

    .menu li
    {
        border: none;
        display: inline-block;
    }

    .menu li a
    {
        padding: 35px 13px 35px 13px;
    }

    .menu li a:hover
    {
        color: #000;
        border-top: 2.5px solid #5CADD2;
        padding: 33px 13px 35px 13px;
    }
}


/* Sections - généralités */

#accueil, #services, #portfolio, #contact
{
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

.section-header
{
    margin: auto;
    margin-bottom: 55px;
    margin-top: 20px;
    width: 45%;
    text-align: center;
}

@media all and (max-width: 900px)
{
    .section-header
    {
        width: 80%;
    }

    #accueil, #services, #portfolio, #contact
    {
        height: 80px;
        margin-top: -80px;
    }
}

.section-title
{
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 3em;
    color: #000;
    margin: auto;
    position: relative;
}

.section-title::before
{
    content:"";
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -70px;
    border-bottom: solid 1px #ebebeb;
    width: 140px;
}

.section-title::after
{   
    content:"";
    border: solid 5px white;
    background-color: #5CADD2;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: -18px;
}

.text-section-header
{
    margin: 0;
    padding-top: 30px;
}


/* ----- Slider ----- */
.welcome
{
    padding-top: 80px;
    position: relative;
}


.slider
{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides
{
    width: 200%;
    display: flex;
    animation: slidy 40s infinite;   
}

.slide-image
{
    width: 100%;
    height: 100%;
}

.slider::after
{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10%;
    border-bottom: solid 4px #5CADD2;
    animation: slidy-like 40s infinite;
}


@keyframes slidy
{
    0%, 30%, 100%
    {
        transform: translateX(0);
    }
    50%, 80%
    {
        transform: translateX(-50%);
    }
}

@keyframes slidy-like
{
    0%, 30%, 100%
    {
        transform: translateX(0);
    }
    50%, 80%
    {
        transform: translateX(900%);
    }
}


.welcoming
{
    color: #666;
    padding: 5%;
    background-color: #f5f5f5;
}

.carousel-title
{
    font-size: 2em;
    font-weight: bold; 
    line-height: 1.1;
    margin: 0;
}

.carousel-text
{
    margin-bottom: 30px;
}

.WebAgency
{
    color: #5CADD2;
}

.button-info
{
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2em;
    background-color: #5CADD2;
    border-bottom: solid 3px #468cad;
    padding: 10px 15px 10px 15px;
    border-radius: 4px;
}

.navigation-left, .navigation-right
{
    position: absolute;
    margin: -30px 0 0 0;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    z-index: 10;
    color: #fff;
    font-size: 2em;
    background-color: rgba(65,65,65,0.5);
    align-content: center;
    border-radius: 50%;
    padding: 15px;
    opacity: 0;
}

.navigation-left
{
    left: -30px;
    text-align: right;
}

.navigation-right
{
    right: -30px;
    text-align: left;
}

.navigation-right:hover, .navigation-left:hover
{
    color: #666;
    background-color: rgba(255,255,255,0.5);
}

@media screen and (min-width: 900px)
{
    .welcome
    {
        padding-top: 100px;
    }

    .welcoming
    {
        position: absolute;
        top: 40%;
        left: 10%;
        width: 550px;
        padding: 0;
        color: #fff;
        background-color: transparent;
    } 

    .welcome::after
    {
        content:"";
        position: absolute;
        bottom: 0;
        width: 100%;
        border-bottom: solid 4px rgba(65,65,65,0.2);
    }

    .navigation-right, .navigation-left
    {
        opacity: 1;
    }

    .carousel-title
    {
        font-size: 2.4em;
        font-weight: bold; 
        line-height: 1.1;
        margin: 0;
    }
}


/* --- Services --- */

.services
{
    background-color: #fff;
}

.container-services
{
    display: flex;
}

.image-services
{
    display: flex;
    height: 100%;
    width: 50%;
    justify-content: center;
    margin-left: 5%;
}

.image-computer
{
    width: 100%;
    max-width: fit-content;
}

.list-services
{
    padding-top: 65px;
    width: 40%;
    margin: 0 10% 0 0;
    list-style: none;
}

.item-services
{
    margin-bottom: 28px;
    position: relative;
}

.service
{
    padding-left: 50px;
}
.service-title
{
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    margin:0;
}

.service-text
{
    margin: 0;
    text-align: justify;
}

@media all and (max-width: 900px)
{

    .container-services
    {
        display: flex;
        flex-direction: column;
    }

    .image-services, .list-services
    {
        width: 90%;
        box-sizing: border-box;
        margin: 0 5%;
    }

    .list-services
    {
        padding-top: 30px;
    }
}

/* Icones */

.icon
{
    position: absolute;
    top: 10px;
    left: -35px;
    
}

.icon .fas
{
    color: #5CADD2;
    font-size: 1.5em;
    border: solid #ebebeb 1px;
    border-radius: 50%;
    padding: 20px;
}


.icon::after
{
    content:"";
    border: solid 4px white;
    background-color: #5CADD2;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 53px;
    top: 20px;
}


/* --- Portfolio --- */

.projets
{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.portfolio-nav
{
    padding-bottom: 20px;
}

.list-portfolio-nav
{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-portfolio-nav
{
    color: #666;
    font-size: 1em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 6px;
    text-decoration: none;
    background-color: #e5e5e5;
    position: relative;
    display: inline-block;
    border-bottom: solid 3px #e5e5e5;
}

.list-portfolio-nav li:first-child a
{
    border-radius: 4px 0 0 4px;
}

.list-portfolio-nav li:last-child a
{
    border-radius: 0 4px 4px 0;
}


.item-portfolio-nav:hover
{
    color: #fff;
    background-color: #5CADD2;
    border-bottom: solid 3px #468cad;
}


.item-portfolio-nav:hover::after
{
    content: "\f0d7";
    font-family: fontawesome;
    font-size: 2em;
    color: #468cad;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -8px;
}


.portfolio_images
{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.portfolio_element
{
    margin: 15px;
    width: 260px;
    position: relative;
}

.portfolio_element img
{
    width: 100%;
    height: auto;
}

.banner
{
    position: absolute;
    bottom: 6px;
    width: 100%;
    background-color: rgba(90, 90, 90, 0.7);
    opacity: 0;
    transition: opacity 500ms ease;
}

.banner-title
{
    font-size: 1.2em;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    margin: 0;
    margin-left: 3%;
    color: #fff;
}

.banner-text
{
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 3%;
}

.banner::before
{
    content:"\f06e";
    font-family: fontawesome;
    color: #fff;
    background-color: #5CADD2;
    padding: 6px 10px 14px 10px;
    border: solid 2px #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: -20px;
    right: 20px;
    align-items: center;
    text-align: center;

}

.portfolio_element:hover > .banner
{
    opacity: 1;
}



/* --- Contact --- */
#contact
{
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.container-contact
{
    position: relative;
    background-color: #5CADD2;
    height: 300px;
    margin: 0;
    padding: 0;
}   

.map
{
    opacity: 0.7;
    width:100%;
    height: 100%;
    border: 0;
    margin: 0;
}

.form
{
    width: auto;
    margin: auto;
    padding: 30px 20px;
    background-color: rgba(255,255,255,0.8);
    border: solid 1px black;
    border-radius: 5px;
}


@media all and (min-width: 679px)
{
    .container-contact
    { 
        height: 627px;  
    }   

    .form
    {   
        position: absolute;
        right: 10%;
        top: 8%;
        width: 320px;
        background-color: rgba(255,255,255,0.8);
        padding: 10px 20px 20px 20px;
        border: none;
        border-radius: 0;
    }
}

.form-title
{
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

.adress-title
{
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: #6F7277;
}

.form-adress
{
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5;
}

.text-decoration
{
    border-bottom: dotted 1px #666;
}


.field
{
    width: 88%;
    height: 30px;
    border-radius: 3px;
    padding-left: 14px;
    padding-right: 20px;
    margin-bottom: 15px;
    border: solid 1px #ccc;
    font-family: Roboto;
    font-size: 0.98em;
    color: #999999;
}

.field[name="message"]
{
    height: 165px;
    padding-top: 5px;
}

.send-button
{
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1em;
    height: 35px;
    background-color: #5CADD2;
    border-bottom: solid 3px #468cad;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
}



